@font-face {
	font-family: "Basique";
	src: url("../fonts/Basique-Black.woff2") format("woff2"), url("../fonts/Basique-Black.woff") format("woff");

	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "EastmanAlternate_italic";
	src: url("../fonts/EastmanAlternate-LightItalic.woff2") format("woff2"),
		url("../fonts/EastmanAlternate-LightItalic.woff") format("woff");

	font-style: italic;
	font-weight: 200;
	font-display: swap;
}
