@import url("fonts.css");

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	font-family: "Basique";
	font-weight: 900;
	text-align: center;
	color: rgb(0, 47, 255);
	font-size: 40px;
	line-height: 1.7;
	text-decoration: overline;
	margin-bottom: 70px;
}

.attention {
	color: red;
	letter-spacing: 1.2;
	text-transform: uppercase;
}

.universal-title {
	font-size: 25px;
	margin-bottom: 20px;
	color: slategray;
	font-weight: 900;
}

.bold {
	font-weight: 700;
}

.white-text {
	color: white;
}

h3 {
	text-align: center;
	color: seagreen;
	font-size: 25px;
	margin-bottom: 20px;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: black;
}

.header {
	text-align: center;
	margin-bottom: 50px;
}

.main-title {
	font-family: "Basique";
	letter-spacing: 10px;
	font-weight: 900;
	font-size: 30px;
	color: red;
}

.img-evgen {
	margin-bottom: 50px;
	width: 500px;
}

.list li {
	font-style: italic;
	display: inline;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 20px;
}

.margin {
	margin-bottom: 100px;
}

.margin-info {
	margin-bottom: 40px;
}

.margin-text {
	font-size: 25px;
	text-align: left;
}

.image-margin {
	display: block;
	margin: 0 auto;
}

.margin-parameter {
	max-width: 500px;
}

.universal-parameter {
	margin-left: auto;
	max-width: 600px;
}

.universal-parameter__text p {
	margin-bottom: 15px;
}

.imgae-margin-2 {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.negative-margin {
	margin: 0px 0px 50px 0px;
}

.block-1 {
	background-color: red;
	margin-left: -20px;
}
.block-2 {
	background-color: green;
	padding: 20px;
	color: white;
	margin-top: -40px;
}
.block-3 {
	background-color: blue;
	margin-right: -40px;
}

.alignment-example {
	color: white;
	font-size: 20px;
	line-height: 1.7;
}

.alignment-text {
	max-width: 700px;
	font-size: 30px;
	margin-right: auto;
	margin-bottom: 50px;
}

.alignment-list {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 50px;
	font-weight: 600;
}

.block1 {
	padding: 50px;
	width: 500px;
	background-color: red;
	margin-left: auto;
}
.block2 {
	padding: 50px;
	width: 400px;
	background-color: rgb(0, 4, 247);
	margin-right: auto;
}
.block3 {
	padding: 50px;
	width: 350px;
	background-color: #06360cdc;
	margin: 0 auto;
}

.img-alignment {
	width: 100%;
}

/* ======================================================================================== */

.collapse-text {
	font-size: 30px;
	margin-bottom: 50px;
}

.img-collapse {
	margin-top: 30px;
	display: block;
	margin: 0 auto;
}

/* =========================================Padding=============================================== */
.padding {
	margin-bottom: 150px;
}
.padding-info {
	margin-bottom: 30px;
}
.padding-text {
	max-width: 700px;
	background-color: #eee;
	padding: 50px 30px 15px 40px;
}

.image-padding {
	display: block;
	margin-left: auto;
}

.padding-anatomy {
	margin-bottom: 50px;
}
.padding-attention {
	font-size: 50px;
	color: brown;
	text-align: center;
}

/* =========================================Width-and-height=============================================== */

.width-and-height__inner {
	margin-bottom: 100px;
}
.width-and-height__info {
	width: 50%;
	min-height: 200px;
	background-color: #eee;
	text-align: center;
}

.width-and-height__text-width {
	max-width: 360px;
	margin-left: auto;
}

.width-and-height__text-height {
	width: 500px;
	max-height: 200px;
	margin-right: auto;
}

/* =========================================excess =============================================== */

.excess {
	margin-bottom: 150px;
}

.excess__title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.excess__text {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.visible {
	text-align: center;
	font-size: 30px;
	background-color: bisque;
	margin-bottom: 30px;
}
.scroll {
	margin-bottom: 30px;
}
.scroll__example {
	width: 100%;
	max-height: 300px;
	overflow: scroll;
}

.scroll__text {
	background-color: #eee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 30px;
	font-weight: 700;
	font-size: 25px;
	color: coral;
}

.img-stallker {
	display: block;
	margin: 0 auto;
}

.hidden {
	margin-bottom: 30px;
}

.hidden__example {
	background-color: darkgreen;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	padding: 30px;
	font-weight: 700;
	font-size: 25px;
	max-height: 200px;
}

.auto__example {
	background-color: #004cf0;
	color: white;
	font-weight: 600;
	padding: 30px;
	max-height: 100px;
	overflow: auto;
}

.inline-blocks {
	font-size: 30px;
}

.inline-block1 {
	background-color: tomato;
	display: inline;
}
.inline-block2 {
	background-color: #23d659;
	display: inline;
}
.inline-block3 {
	background-color: #a208e9;
	display: inline;
}
.inline-block4 {
	background-color: #e01530;
	display: inline;
}

.object-management {
	font-size: 25px;
}

.object-management__text {
	max-width: 500px;
	text-align: left;
	font-size: 30px;
}

.block-example {
	background-color: #d89b9b;
	padding: 30px;
	margin-bottom: 50px;
}
.inline-example {
	margin-bottom: 50px;
}
.inline-example__text {
	margin-bottom: 20px;
	padding: 20px;
}

.inline-block-example {
	margin-bottom: 50px;
}
.inline-block-example__text {
	background-color: #c9c3c3;

	padding: 20px;
}

.inline-block {
	font-size: 30px;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.gibrid {
	display: inline-block;

	width: 150px;
	background-color: yellowgreen;
}

.none {
	background-color: wheat;
	padding: 30px;
}

.box-size__text {
	width: 300px;
	height: 270px;
}

.border-box {
	font-size: 14px;
	width: 300px;
	height: 200;
	padding: 15px;
}

.content-box {
	max-width: 500px;
	margin-left: auto;
}

.footer {
	font-family: "Basique";
	font-weight: 900;
	text-align: center;
	padding: 50px;
	font-size: 80px;
}
